
.input-field {
    -fx-border-color: #ffffff;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.system-button {
    -fx-font-size: 14px;
    -fx-background-color:rgba(255,255,255,0.6);
    -fx-text-fill: black;

}

.grid-background {
    -fx-background-color: #3f434a;
}

.grid-pane-radius {
    -fx-background-radius: 40 0 0 40;
}

.logoutButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}


.split-pane-divider {
-fx-border-style: solid;
-fx-border-width: 0.01px;
-fx-background-color: #211D5A;
-fx-padding: 0 1 0 0;
}
